dotenv_if_exists
source_up_if_exists

# ref: https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
if test -f "devbox.json" ; then
  if command -v devbox >/dev/null ; then
    eval "$(devbox generate direnv --print-envrc)"
  fi
fi

# Add Trunk managed tools
export PATH="${PWD}/.trunk/tools:${PATH}"